#about .hero figure figcaption {
    justify-content: flex-start;
    
    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    h2 {
        margin-bottom: 0;
    }
    #intro {
        padding: 0 25px;
        font-size: 1rem;
        h4 {
            padding-bottom: 10px;
            line-height: 1.5rem;
            text-align: left;
        }
        i { 
            color: white;
            text-decoration: none;
        }
        a, a:visited {
            color:$primary-color;
            text-decoration: none;
        }
        p {
            text-align: left;
            padding-bottom: 10px;
        }
        h3, .personal {
            padding-bottom: 15px;            
        }
        .pro-links {
            text-align: left;
            margin: 15px 0;
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            .cv, .github {
                padding: 5px 15px;
                font-size: 2rem;
            }
            span {
                align-content: center;
            }
        }
    }
}

#skills {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
    div {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-basis: 25%;
        i {
            font-size: 1.5rem;
        }
        span {
            margin: 10px 0;
        }
    }
}
@media (min-width: 576px){
    #skills {
        div {
            flex-basis: 25%;
            padding: 10px 0;
            i {
                font-size: 3rem;
            }
        }
    }
}
@media (min-width: 768px){
    #skills {
        flex-basis: 100%;
        div {
            flex-basis: 25%;
            i {
                font-size: 4rem;
            }
        }
    }
}
@media (min-width: 992px){
    #about .hero figure figcaption {
        justify-content: center;
    }
    figure {
        #skills {
            flex-basis: 50%;
            div {
                flex: 25%;
            } 
        }
        figcaption #intro .flex-cont {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            .left, .right {
                flex-basis: 48%;
                align-self: center;
            }
            .left {
                p {
                    text-align: left;
                    margin-bottom: 25px;
                }
                h4 {
                    font-size: 1.5rem;
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }
    #intro {
        h4 {
            width: 70%;
            margin: 0 auto;
        }
    }
}
@media (min-width: 1200px){
    #intro {
        width: 80%;
        margin: 0 auto;
    }
    #skills {
        justify-content: center;
        flex-wrap: wrap;
        div {
            flex: 0 1 150px;
        }
    }
}