#contact {
    display: flex;
    flex-direction: column;
    #contact-form form {
        display: flex;
        flex-direction: column;
        padding: 15px 30px;
        input, textarea {
            padding: 15px;
            margin-bottom: 15px;
            flex-basis: 100%;
            border-radius: 5px;
            border: 0;
            outline: 0;
            background-color: #DADBDD;
            font-size: 0.9rem;
            color: #929493;
        }
        .btn {
            border: 2px solid #292B51;
            border-radius: 5px;
            padding: 15px 60px;
            font-weight: 700;
            font-size: 1.1rem;
        }
    }
    #info {
        padding: 15px 30px;
        h2 {
            font-weight: 600;
            font-size: 2.2rem;
            margin-bottom: 30px;
        }
        h3, h4 {
            font-weight: 500;
            font-size: 1.5rem;
        }
        h3, h4, p {
            margin-bottom: 15px;
            line-height: 1.5rem;
        }
    }

}

@media (min-width: 576px){
    
}

@media (min-width: 768px){
    #contact {
        padding: 15px;
    }
}

@media (min-width: 992px){
    #contact {
        flex-direction: row;
        #info {
            flex-basis: 30%;
        }
        #contact-form {
            flex-basis: 70%;
        }
    }
}

@media (min-width: 1200px){
    #contact {
        padding: 0 30px;
    }
    #contact #contact-form form {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #contact #contact-form form {
        justify-content: space-between;
        #first-name, #last-name {
        flex-basis: 49%;
        }
    }
}