@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// ===========================================
// ================ Standards ================
// ===========================================
*, html, body {
    font-size: 16px;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #292B51;
}
h1 {
    font-size: 4rem;
    margin-bottom: 30px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 1rem;
}

// ===========================================
// ============== Media Queries ==============
// ===========================================

@media (min-width: 576px){
    
}

@media (min-width: 768px){
    body {
        flex-direction: row;
    }
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}