@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// ===========================================
// ================ Standards ================
// ===========================================
*, html, body {
    font-size: 16px;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// ===========================================
// ============== Media Queries ==============
// ===========================================

@media (min-width: 576px){
    body {
        flex-direction: row;
    }
}

@media (min-width: 768px){
    
}

@media (min-width: 992px){
    
}

@media (min-width: 1200px){
    
}