header {
    flex: 0 0 200px;
    border-right: 3px solid $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    #initials {
        font-size: 96px;
        font-weight: 700;
        color: $primary-color;
        padding:30px;
        border-bottom: 3px solid $primary-color;
        text-align: center;
    }
    nav {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
            li {
                   padding: 5px 0;
                   margin: 15px 0;
                   &:hover {
                        border-bottom: 2px solid $primary-color;
                   }
                   
                   a {
                       text-decoration: none;
                       color: black;
                       font-weight: 600;
                   }
            }
        }
    }
    #social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        a {
            padding: 0 10px;
            i {
                color: $primary-color;
            }
        }
    }
}
main {
    flex: 1;
}