header {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    #initials {
        font-size: 96px;
        font-weight: 700;
        color: $primary-color;
        padding:30px;
        border-bottom: 3px solid $primary-color;
        text-align: center;
        text-decoration: none;
    }
    nav {
        display: flex;
        flex-direction: column;
        > a {
            text-align: center;
            padding: 20px;
            font-size: 1.5rem;
            font-weight: 600;
            color: $primary-color;
            text-decoration: none;
            &:hover {
                background-color: $primary-color;
                color: white;
            }
        }
        ul {
            display: none;
            flex-direction: column;
            align-items: center;
            li {
                   padding: 5px 0;
                   margin: 15px 0;                
                   a {
                       text-decoration: none;
                       color: black;
                       font-weight: 600;
                       padding: 5px;
                       &:hover {
                        border-bottom: 2px solid $primary-color;
                       }
                   }
            }
        }
    }
    #social {
        display: none;
        flex-direction: row;
        justify-content: center;
        margin: 20px 0;
        a {
            padding: 0 10px;
            i {
                color: $primary-color;
                text-align: center;
                font-size: 1.5rem;
                padding: 5px;
                &:hover {
                    color: white;
                    background-color: $primary-color;
                }
            }
        }
    }
}
main {
    flex: 1;
}

@media (min-width: 768px){
    header {
        position: fixed;
        width: 200px;
        height: 100%;
        border-right: 3px solid $primary-color;
        nav > ul {
            display: flex;
            margin-top: 100px;
        }   
        #social {
            display: flex;
        }
    }
    main {
        margin-left: 200px;
    }
    nav > a {
        display: none;
    }
}
