#portfolio {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    .project {
        padding: 0 10px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid lightgrey;
        figure {
            border-radius: 5px;
            flex: 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        h2 {
            font-weight: 700;
            padding-top: 10px;
        }
        p {
            padding-bottom: 10px;
        }
        a, a:visited {
            text-decoration: none;
            color: inherit;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            figure img {
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
                filter: brightness(50%);
            }
            h2 {
                opacity: 0.3;
            }
            
        }
    }
    .coming-soon {
        display: none;
    }
}

@media (min-width: 576px){
    #portfolio {
        padding: 30px 30px;
        max-width: 576px;
        margin: 0 auto;
    }
}

@media (min-width: 768px){
    #portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px 30px 30px;
        max-width: 768px;
        justify-content: space-around;
        .project {
            padding-top: 10px;
            flex-basis: 49%;
            border: 1px solid lightgrey;
            border-radius: 5px; 
        }
        .coming-soon {
            display: flex;
            &:last-of-type {
                display: none;
            }
        }
    }
}

@media (min-width: 992px){
    #portfolio {
        padding: 50px 30px 30px;
        .project {
            flex-basis: 49%;
        }
        .coming-soon:last-of-type {
            display: flex;
        }
    }
}

@media (min-width: 1200px){
    #portfolio {
        padding: 80px 50px 40px;
        max-width: 1200px;
        margin: 0 auto;
        .project {
            flex-basis: 32%;
        }
        .coming-soon {
            display: flex;
        }
    }
}

