#portfolio {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    .project {
        padding: 10px;
        figure {
            border-radius: 5px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
        h2 {
            font-weight: 700;
            padding-top: 20px;
        }
        &:hover {
            figure img {
                box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
                filter: brightness(50%);
            }
            h2, p {
                opacity: 0.3;
            }
            
        }
    }
}

@media (min-width: 576px){
    #portfolio {
        padding: 50px 30px;
    }
}

@media (min-width: 768px){
    #portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px 30px;
        .project {
            flex-basis: 50%;
        }
    }
}

@media (min-width: 992px){
    #portfolio {
        padding: 50px 30px;
    }
}

@media (min-width: 1200px){
    #portfolio {
        padding: 80px 50px;
        .project {
            flex-basis: 33.33%;
        }
    }
}

